<table>
  <tr>
    <%if ((user_signed_in?) && (@question.user.id == current_user.id))%>
    <td><%=button_to(t('questions.delete_question'), question_path(@question.id), method: :delete, class: "btn btn-warning")%></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <%end%>
    <td><%=button_to(t('application.main_page'), questions_path, method: :get, class: "btn btn-warning")%></td>
  </tr>
</table>
