<h3><%=t('questions.new_questions')%></h3>
<%=render 'questions/show_questions'%>
<%=render 'questions/show_users'%>
<%=button_to(t('questions.add_new_question'), new_user_question_path(user_id: current_user.id), method: :get, class: "btn btn-warning") if user_signed_in?%>
