/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 .aside-menu {
  @media (min-width: 1700px) {
    display:inline;
  }
   display: none;
   overflow: visible;
   position: fixed;
   margin: 20px;
   right: 100px;
   width: 80px;
   height: 80px;
   border: 1px solid rgb(192, 192, 192);
   border-radius: 100px;
   transition: 0.3s;
   box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.27);
   background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 }
 .aside-menu.one {
  top: 150px;
 }
 .aside-menu.two {
  top: 250px;
 }
 .aside-menu:hover {
  transition: 0.3s;
  cursor: pointer;
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.27);
  transform: scale(1.1);
 }
 .new-post-img {
   margin: 19px;
 }

 a {
  transition: 0.3s;
  text-decoration: none;
 }
 a:hover {
  transition: 0.3s;
  color: orange;
}
  .btn-group#nav-menu {
    padding-left: 5px;
  }

 .rounded-circle {
  transition: 0.3s;
 }
 .rounded-circle:hover {
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Параметры тени */
 }
 .content {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 1px solid rgb(192, 192, 192);
  min-width: 99%;
  @media (min-width: 1400px) {
    min-width: 49%;
  }
  transition: 0.3s;
  border-radius: 10px;
 }

 .content:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.27);
  background-color: #ffffff8d;
 }

 .main-content {
  padding: 10px;
  margin: 15px 5px;
  min-width: 99%;
  border: 1px solid rgb(192, 192, 192);
  transition: 0.3s;
  border-radius: 10px;
 }

 .main-content:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.27);
  background-color: #ffffff8d;
 }

 .card-body.home {
  box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.27);
 }

 .card.h-100
 {
  box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.27);
  background-color: transparent
 }

 .dropdown-menu.login-form {
   padding: 15px;
   box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.27);
   background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 }

 .card-body.home {
  background-color: transparent;
 }

 .card {
  transition: 0.3s;
  background-color: transparent;
 }
 .card:hover {
  transition: 0.3s;
  background-color: #ffffff8d;
 }

 .col-sm-6 {
  background-color: transparent;
 }

 .row {
  background-color: transparent;
 }

 body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 }
 .img-logo{
  display: inline-block;
  filter: drop-shadow(0 0 5px #555);
  overflow: hidden; /* Скрываем всё за контуром */
}
.img-logo {
  transition: 1s; /* Время эффекта */
  display: block;
}
.img-logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 50px rgb(255, 238, 0));
  transform: scale(1.1); /* Увеличиваем масштаб */
}
