<hr><h2><%="#{t('questions.root_welcome_en')}"%>:</h2><br>
<h4><%="#{t('questions.root_welcome_ru')}"%>:</h4><br>
<%=button_to "#{t('questions.root_button_ru')}", "ru/questions", method: :get, class: "btn btn-warning"%><br>
<%=button_to "#{t('questions.root_button_en')}", "en/questions", method: :get, class: "btn btn-warning"%><br>
<hr>
